/* (洪萌体 - 标准用) */
@font-face {
  font-family: 'SiteCustomFont';  /* <-- 這是您要在後台填寫的新名稱 */
  src: url('HOSSR.woff'); /* <-- 這是您剛上傳的檔名 */
  font-weight: normal; /* Regular 一般是 normal 或 400 */
  font-display: swap;
}

/* (可可体常规 - 不适用全局、标题、内容。可用板块名称)不支持繁体 */
@font-face {
  font-family: 'BWCKKR';
  src: url('BWCKKR.woff2');
  font-weight: normal;
  font-display: swap;
}

/* (造字工房景悦体 - 不适用全局、标题、内容。可用板块名称)支持繁体) */
@font-face {
  font-family: 'MFJYT';
  src: url('MFJingYue.woff2');
  font-weight: normal;
  font-display: swap;
}

/* (造字工房尚黑常规体 - 不适用全局、标题、内容。可用板块名称)不支持繁体) */
@font-face {
  font-family: 'MFSHT';
  src: url('MFShangHei.woff2');
  font-weight: normal;
  font-display: swap;
}

/* (造字工房悦黑体 - 不适用全局、标题。可用板块名称、内容)不支持繁体) */
@font-face {
  font-family: 'MFYHT';
  src: url('MFYueHei.woff2');
  font-weight: normal;
  font-display: swap;
}

/* (造字工房悦圆常规体 - 不适用全局、标题。可用板块名称、内容)不支持繁体) */
@font-face {
  font-family: 'MFYueYT';
  src: url('MFYueYuan.woff2');
  font-weight: normal;
  font-display: swap;
}
